body{
    background-color: #e9ebee!important;
    font-size: 13px !important;
    font-family: Helvetica, Arial, sans-serif !important;
}
.box {
    padding-top: inherit;
    padding-bottom: inherit;
    /*height: 30rem;
    border-style: ridge;*/
    text-align: center;
    /*background-color:#6351ce;*/
}

.topele{
    color:white;
    border-color: transparent !important;
    background-color: transparent !important;
    position:absolute;
    top:1%;
    right:2%;
}
.topele2 {
    color: white;
    position: absolute;
    top: 1rem;
    right:10rem;
}
.log{
    padding:0rem !important;
}
/*.bg-image{
    background-image: url("../Images/bg.jpeg");
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0
  filter: blur(5px);
     height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
.jumbotron{

    height:75vh;
    padding:4rem 2rem;
}
.jumbotron-fluid{
    border-style: solid;
    border-radius: 5px;
    border-color: dimgray;
    margin: 2px 2px 2px 2px !important;
    border-width: thin;

}
span{
    z-index: 100;
}
.home{
    /*background-image:url("../Images/2.jpeg");
    background-repeat: no-repeat;
    background-size:100% 100vh;*/
    background-color:white !important;
}
.btn1{
    margin-bottom: 2rem;
}
.btn-centre{
    position:absolute;
    top:50vh;
    left:50ch;
}
.btn-index{
    background-color:darkcyan !important;
    display: inline-block !important;
}
.navbar{
     background-color:#4267b2;
    border-bottom-style:solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}
.page-footer{
    border-top-style: solid;
    border-top-color:black;
    border-top-width: 1px;
}
.navbar-brand{
    font-family:'Mansalva',Serif ;
    font-size: 4rem;
}
.page-footer{
    margin-top:0px;
    background-color:darkslategray;
    bottom:0;
}
a{
    color:white;
}
hr{
    background-color:#6351ce;
}
.app-fab--absolute {
  position: fixed;
  bottom: 20%;
  right: 2%;
    font-size: 3rem !important;
}
.modal-header{
    background-color: #C3C3C8;
}
.findheader{
    background-color: #6351ce;
    color: white;
}
label{
    font-style: italic;
}
.place-centre{
    position:absolute;
    top:40vh;
}
.mid-position{
    position:absolute;
    top:25vh;
}


.find-button{
    height: 40px;
    border-width: 0;
    background: whitesmoke;
    color: black;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.35);
    padding: 0;
}


/*google button*/
.google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.35);
    padding: 0;
}


.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}
/* google*/

.card{
    border-style: solid;
    border-radius: 5px;
    border-width: thin;

}
.logout_link{
    color:darkblue;
    font-weight: bold;
}
.margin-toggle{
    margin-right: unset !important;
}
ul{
    list-style-type: none !important;
}
li{
    text-align: initial !important;
}
form>p{
    font-weight: bold;
}
ul.errorlist{
    color:red !important;
}
.bottomspace{
    padding: 15px 15px 15px 15px !important;
    border-right-color : white !important;
    border-bottom-color: white !important;
    border-right-style: groove;
    border-bottom-style: groove;
    max-width: 75% !important;
}
.border-black{

    background-color: #e9ebee;
    /*border-left-style: solid;
    border-right-style:solid ;
    border-color: black;
    border-width: thin;*/
    width:37.5% !important;
    margin-top:55px;
    margin-left: 37.5% !important;
    margin-right: 25% !important;

}
.cardteacher{
    border-radius: 1.5% !important;
    border-color: #dddfe2 !important;
    border-style: solid !important;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}
.filterform{
    position:fixed;
    width:37% !important;
    margin-top:2.5% !important;
    overflow:hidden;
}
.iconfilter {
  position: fixed;
  bottom: 20%;
  left: 5% !important;
    font-size: 3rem !important;
}
.typetext{
    color:green;
}
.card-img-top{
    width:100%;
    height: 250px;
    object-fit:cover;
    border-top-left-radius: inherit !important;
    border-top-right-radius: inherit !important;
    /*border-radius: 50% !important;*/
}
.fa{
    font-size: large !important;
}
.fa-thumbs-up{
    font-size: 2rem !important;
}
.type{
    font-size: 0.75rem;
    border-style :solid;
    border-radius: 50%;
    padding: 15px;
    width:120px;
}
.rowteach{
    padding: 0px 9px 5px 9px;
}
.sepera{
    border-style: solid;
    border-width: 1px;
    border-color:#dadde1;
}
.filtercard{
    overflow: hidden;
    background-color: #e9ebee !important;
}